<html>
<head>
</head>
<body>
<center>
    <form method = "POST" action="./books">
        Book Name : <input name = "name" type="text" placeholder="Name of Book"/><br>
        Book Price : <input name = "price" type="text" placeholder="Price of Book"/><br>
        Author : <input name = "writer" type="text" placeholder="Author"/><br>
        Publisher : <input name = "publisher" type="text" placeholder="Publisher"/><br>
        <input type = "submit" value="register"/>
    </form>
</center>
</body>
</html>
